<div width="100%" style="margin-top: 20px;">
  <div width="100%" style="height: 340px; padding-top: 90px;">
    <div class="row justify-content-left">
      <div class="col-3">
        <img class="img-thumbnail rounded float-right" width="200px" src="/img/masha.jpg" alt="Бурыка Мария Павловна">
      </div>
      <div class="col-8">
        <p class="h2 text-left"><font color="#FFFFFF">Бурыка Мария Павловна</font></p>
        <p class="h5 text-left"><font color="#FFFFFF">Клинический психолог, игровой терапевт</font></p>
        <br>
        <p class="text-justify">
          <font color="#E3E3E3">
            <i>Я верю в то, что в каждом человеке, будь то ребенок или взрослый, заложен огромный жизненный потенциал. В своей работе я стремлюсь помочь клиенту обнаружить этот внутренний ресурс, почувствовать опору и реализовать себя максимально полно.<i>
          </font>
        </p>
      </div>
    </div>
  </div>
</div>
<div width="100%" style="background-color: #EFEEEB;">
  <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row justify-content-left">
      <div class="col">
        <p class="text-justify">
          <b>Образование</b>
          <ul>
            <li>
              В 2011г закончила СПбГУ, факультет психологии, кафедра клинической психологии, специализация «психология младенческого и раннего возраста»
            </li>
            <li>
              В 2015г прошла профессиональную переподготовку в Международной школе психотерапии, консультирования и ведения групп Института психотерапии и консультирования «Гармония» и Concord Institute (USA), диплом о профессиональной переподготовке в области психологического и психотерапевтического консультирования, а также диплом о профессиональной переподготовке в области разработки и ведения тренингов.
            </li>
            <li>
              В 2006г прошла обучение по программе «Анализ проблем и планирование лечения в поведенческой терапии»
            </li>
            <li>
              В 2011г прошла стажировку в Центральном отделении Санкт-Петербургского регионального отделения Общероссийской общественной организации «Российский Красный Крест», где освоила методику диагностики определения ММД кпн Ясюковой Л.А., а также вела практическую работу с детьми  с ММД по методике Друбачевской Е.Н.
            </li>
            <li>
              В 2014г принимала участие в семинаре-тренинге «Знакомство с методами арт-терапии», организованном на базе социальной школы Каритас.
            </li>
            <li>
              В 2016г прошла краткосрочное обучение в НОУДПО «Санкт-Петербургский Институт раннего вмешательства» по программе «Базальная стимуляция: европейский подход к работе с детьми со множественными нарушениями»
            </li>
            <li>
              В 2016г принимала участие в семинаре по обмену опытом «Расширение сенсорного опыта детей с тяжелыми двигательными нарушениями. Концепция базальной стимуляции», организованном СПб БОО «Перспективы»
            </li>
            <li>
              В 2017г участвовала в супервизии в рамках заседаний научной секции «Психология образования и психотравматология»
            </li>
            <li>
              В 2017г принимала участие в семинаре по обмену опытом «Коррекция и профилактика проблемного поведения у подростков с нарушениями психического и ментального развития», организованном СПб БОО «Перспективы»
            </li>
              В 2017г принимала участие в XХI международной научно-практической конференции «Служба практической психологии в системе образования: Актуальные проблемы развития», в которой также участвовала в качестве докладчика по методам психотерапии и психологической помощи учащимся.
            </ul>
          </ul>
          <b>Направления работы</b>
          <ul>
            <li>
              Индивидуальное консультирование детей, подростков и взрослых
            </li>
            <li>
              Психодиагностика
            </li>
            <li>
              С 2010 года работаю с детьми и подростками, а также консультирую родителей по поводу психологических затруднений, связанных с детьми. Практика в области психологического консультирования взрослых с 2012г года.
            </li>
            <li>
              Групповые занятия с детьми
            </li>
            <li>
              Детская психодрама
            </li>
            <li>
              Семейное консультирование
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
