<div width="100%" style="margin-top: 20px;">
  <div width="100%" style="background-image: url(/img/3.jpg)">
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  </div>
</div>
<div class="container-fluid" style="background-color: #FFFFFF; padding-top: 50px; padding-bottom: 50px;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Жизненные трудности</h4>
          <p class="card-text">Дети наравне со взрослыми могут столкнуться с различными жизненными трудностями, которые им не под силу преодолеть.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Детство - это фундамент взрослой жизни</h4>
          <p class="card-text">От него будет зависеть, сумеет ли человек достичь этих целей.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Детская психодрама</h4>
          <p class="card-text">Это форма детской групповой или индивидуальной психотерапевтической практики, которая применяется в работе с семьей, детьми и подростками.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div width="100%" style="background-color: #000000">
  <img width="100%" src="/img/2.jpg" style="margin-top: -16px;">
</div>
<div class="container-fluid" style="background-color: #FFFFFF; padding-top: 50px; padding-bottom: 50px;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Опытные специалисты</h4>
          <p class="card-text">Группы проводятся двумя ведущими, имеющими психологическое образование и опыт работы в данном направлении.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Раскрытие личности</h4>
          <p class="card-text">Детская психодрама создает условия, в которых личность ребенка может максимально полно раскрыть себя, формируется положительный образа себя, повышается самооценка и уверенность в себе.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Удобное время</h4>
          <p class="card-text">Занятие длится 60 мин, проводится один раз в неделю по субботам в утреннее или вечернее время, место проведения уточняется.</p>
        </div>
      </div>
    </div>
  </div>
</div>

