<div width="100%" style="margin-top: 20px;">
  <div width="100%" style="height: 200px; padding-top: 90px;">
    <p class="h1 text-center"><font color="#FFFFFF">Отзывы</font></p>
  </div>
</div>
<div width="100%" style="background-color: #EFEEEB;">
  <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row justify-content-left">
      <div class="col-10">
        <blockquote class="blockquote text-left" style="background-color: #F4F3F1; padding: 10px;">
          <p class="mb-0">Психологи Мария Павловна и Оксана Александровна показали себя как специалисты своего дела. На занятии была добрая, душевная и домашняя обстановка. Мне удалось раскрыться и расслабиться. Мне удалось обнаружить и найти решения своих проблем.</p>
          <footer class="blockquote-footer">27.05.2017</footer>
        </blockquote>
      </div>
    </div>
    <br>
    <div class="row justify-content-end">
      <div class="col-10">
        <blockquote class="blockquote text-left" style="background-color: #F4F3F1; padding: 10px;">
          <p class="mb-0">Мы впервые обратились за психологической помощью. Я очень волновалась и переживала при первой консультации. А сейчас, по прошествии почти пятнадцати занятий, хочу выразить огромную благодарность Оксане Александровне и Марии Павловне за их работу. Ребенок просто мчится на занятия. Каждая консультация, пройденная мной? очень сильно изменила меня и открыла мне на многое глаза. Вы замечательные профессионалы! Я чувствую, как между мной и ребенком улучшились отношения, да и в жизни у меня произошли перемены. Спасибо огромное вам.</p>
          <footer class="blockquote-footer">06.05.2017</footer>
        </blockquote>
      </div>
    </div>
    <br>
    <div class="row justify-content-left">
      <div class="col-10">
        <blockquote class="blockquote text-left" style="background-color: #F4F3F1; padding: 10px;">
          <p class="mb-0">Считаю, что групповая работа с моим ребенком пошла на пользу не только ребенку, но и семье в целос - отношения в доме улучшились. Я стала больше понимать, что происходит с ребенком, и как я ему могу помочь. В школе у него появились друзья, и он впервые хочет туда идти. Я благодарна специалистам за работу и внимательное отношение ко всем членам семьи.</p>
          <footer class="blockquote-footer">29.06.2017</footer>
        </blockquote>
      </div>
    </div>
    <br>
    <div class="row justify-content-end">
      <div class="col-10">
        <blockquote class="blockquote text-left" style="background-color: #F4F3F1; padding: 10px;">
          <p class="mb-0">Спасибо большое за вашу работу. Это было незабываемо, этот опыт навсегда останется в моей памяти на всю жизнь. Мария Павловна и Оксана Александровна проявили себя профессионально. Вели себя очень тактично и с чуткостью подошли к нашей проблеме. Мои отношения с ребенком стали ближе и теплее. На групповых занятиях с ребенком я узнала много нового о себе, я будто бы открыла в себе нового человека. Благодарю специалистов за помощь и участие в моей ситуации.</p>
          <footer class="blockquote-footer">03.06.2017</footer>
        </blockquote>
      </div>
    </div>
    <br>
  </div>
</div>
